	<footer>
		<p>&copy; <%= new Date().getFullYear(); %> Colorful NodeJS API Quiz App</p>
		<p>Powered by
			<a href='https://opentdb.com/api_config.php' target="_blank"><img class="otdb-logo" src="./img/OTDB.png" alt=""></a>, 
			<a href='http://colormind.io/' target="_blank"><img class="otdb-logo" src="./img/ColorMind.svg" alt=""></a>
		</p>
	</footer>
</body>
</html>